//#region variables - pallette

//new pallette
$yellow-light-clr : #b8d432;
$yellow-dark-clr : #689a35;
$orange-light-clr: #f57d31;
$orange-dark-clr: #b64424;
$green-light-clr: #08a24a;
$green-dark-clr: #116452;
$pink-light-clr: #f16373;
$pink-dark-clr: #b52d79;
$pirple-light-clr: #31304D;
$pirple-lighter-clr: #9090b6;
$pirple-dark-clr  : #161A30;

$blue-dark-clr: #164863;
$blue-light-clr:#427D9D;
$white-dark-clr: #9BBEC8;
$white-light-clr: #DDF2FD;
$red-light-clr: #f44336;

$boxShadow-pirpleLighter : 0 10px 0 $pirple-lighter-clr;
$border-pirpleLighter : 3px solid $pirple-lighter-clr;

$spaceGrotesk-Fnt:'Space Grotesk', sans-serif;
$main-trans-time: 0.5s;
$width-25rem: 25rem;
$width-18rem: 18rem;

$borderRadius-menu : 2.5rem;
$borderRadius-circle: 50%; 
$borderRadius-10 : 10px;
$borderRadius-6 : 6px;

 //#endregion
